<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <form action="/createNewJoke">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="string" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
              <label for="start" class="form-label">Start</label>
              <textarea type="string" class="form-control" id="start" name="start" required></textarea>
            </div>
            <div class="mb-3">
              <label for="end" class="form-label">End</label>
              <textarea type="string" class="form-control" id="end" name="end" required></textarea>
            </div>
            <input type="submit" id="submitNew" class="btn btn-primary"></input>
      </form>
    </div>
  </div>
</div>